@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Web App";
}

<div class="text-center">
    <h1 class="display-4">Azure is amazing!</h1>
    <p>Read norwegian news <a href="https://vg.no">here</a>.</p>
</div>
